*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: rgb(0,168,132);
    background: linear-gradient(0deg,  rgb(236, 229, 221) 85% ,  rgb(	18, 140, 126) 10%);
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.ms_main_container {
    width: 80%;
    height: 90%;
}
/**************************************************************************

                                    PARTE SINISTRA

***************************************************************************/

/* Profilo */

.ms_left{
    background-color: #fff;
    overflow-y: hidden;
}

.ms_profile{
    background-color: #EAEAEA;
}
.ms_user_pic{
    width: 50px;
}

.ms_img_contact{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 7px;
}
.ms_icons{
    color: #B1B1B1;
    
}


/* notifiche */
.ms_notificate{
    background-color: #8edafc;
}
.ms_bell{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #8edafc;
    background-color: white;
    
}

.ms_link{
    color:#72959a;
    font-size: 13px;
}

.ms_last_message {
    color: #93a2b3;
    font-size: 10px;
    line-height: 1.4rem;
}
.ms_clock{
    padding: 8px;
    color: #93a2b3;
    font-size: 10px;
    text-align: end;
    margin-left: auto;
    
}
#ms_search_bar {
    background-color: rgb(250, 250, 250);
    height: 60px;
    padding: 10px;
}
#ms_search_wrapper {
    align-items: center;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
#ms_search_bar label {
    padding: 5px 15px;
    font-size: 15px;
    color: rgb(197, 188, 181);
    background-color: white;
    height: 100%;
    border-right: solid 1px rgb(250, 250, 250);
}

#ms_search_bar label i {
    line-height: 32px;
}

#ms_search_bar input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0;
}

/********************************************************************

                                PARTE DESTRA

********************************************************************/

.ms_right{
    background-color: aquamarine;
}
.ms_right_main {
    background-image: url("../img/mine.jpg");
    height: 100%;
}
.ms_message{
    width: 300px;
    border-radius: 10px;
    height: 50px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.ms_received{
    background-color: white;
    align-self: flex-start;
}
.ms_sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.ms_border_lf{
    border-left: 1px solid lightgray;
}
.ms_selected{
    background-color:#e9ebeb;
}
.contact:hover{
    background-color:#e9ebeb;
}
.ms_color{
    color: #6b7376;
}
.ms_color:hover{
    color:rgb(0,168,132);

}
.ms_btn {
    text-align: end;
    border: none;
    padding: 0 0.2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #b1b1b1;
    font-size: 20px;
    vertical-align: middle;
}
.ms_btn:hover{
    color:rgb(0,168,132);

}

.ms_btn_small{
    background-color: transparent;
    text-align: end;
    border: none;
    padding: 0 0.2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #6b7376;
    font-size: 10px;
    vertical-align: middle

}
.ms_d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.ms_dateTime{
    align-self: flex-end;
    color: #bababa;
    font-size: 11px;
    margin-top: 8px;

}

@media screen and (max-width:1200px){
    #app{
        height: 100%;
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width:768px){
    
}

