<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- style css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <title>Boolzapp</title>
</head>
<body>

    <div id="app">
        <main class="ms_main_container row">
            <section class="col-4 left p-0">
                <!-- barra profilo utente -->
                <div class="ms_profile d-flex justify-content-between">
                    <div class="ms_user_pic d-flex align-items-center">   
                        <img class="ms_img_contact" src="img/avatar_io.jpg">
                        <span>Lucia</span>
                   </div>
                    <div class="ms_icons d-flex align-items-center me-2">
                        <i class="m-1 fa-solid fa-circle-notch ms_btn"></i>
                        <i class="m-1 fa-solid fa-message ms_btn"></i>
                        <i class="m-1 fa-solid fa-ellipsis-vertical ms_btn"></i>
                    </div>
                </div>
                <!-- barra per notifica -->
                <div class="ms_notificate d-flex">
                    <div class="ms_bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="my-2">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a class="ms_link" href="#!">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- barra di ricerca-->   
                <div id="ms_search_bar">
                    <div id="search_wrapper" class="d-flex">
                        <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input  id="search" type="text" placeholder="Cerca o inizia una nuova chat"  v-model="research" @keyup="searchContact()" >
                    </div>
                </div>

                <!-- lista contatti -->
                <div v-for="(contact, index) in contacts" :class = "contact.visible?'d-flex':'d-none'"  @click="chatSelect(index)" :class="(index == contact) ? 'ms_selected' : ''">
                    <div class="ms_user_pic">   
                        <img class="ms_img_contact" :src="contacts[index].avatar">
                    </div>
                    <div class="px-2 m-1">
                        <div>{{ contact.name }}</div>
                        <div class="ms_last_message" v-if="contact.messages.length != 0">{{getLastMessage(contact)}}</div>
                        <div class="ms_last_message" v-else>Non ci sono messaggi</div>
                    </div>
                    <div class="ms_clock">{{getLastTime(contact)}}</div>
                </div>
            </section>
    
            <!-- sezione destra -->
    
            <section class="col-8 ms_right p-0 d-flex justify-content-between flex-column">
                <div id="selected-contact" class="ms_profile d-flex justify-content-between">
                    <div class="d-flex">
                        <img class="ms_img_contact" :src="contacts[contact].avatar">
                        <div class="ms-1 p-1">
                            <div>{{contacts[contact].name}}</div>
                            <div class="ms_last_message "> Ultimo accesso oggi alle 12:00</div>
                        </div>

                    </div>
                
               
                    <div class=" d-flex align-items-center me-2">
                        <i class="fa-solid fa-magnifying-glass ms_icons ms_btn"></i>
                        <i class="fa-solid fa-paperclip ms_icons ms_btn"></i>
                        <i class="fa-solid fa-ellipsis-vertical ms_icons ms_btn"></i>
                    </div>
                  </div>
                <div class="ms_right_main d-flex flex-column">
                    <div v-for="(elem, index) in contacts[contact].messages" :class="elem.status == 'sent' ? 'ms_sent' : 'ms_received'" class="p-2 m-3 ms_message">
                        <span>{{ elem.message }}</span>
                        <div class="dropdown">
                            <button class="ms_btn_small" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Message Info</a></li>
                              <li><a  @click.stop="deleteMsg(index)" class="dropdown-item" href="#">Delete Message</a></li>
                              
                            </ul>
                          </div>
                    </div>
                 </div>
                <div class="ms_profile d-flex p-2 justify-content-around align-items-center">
                    <i class="fa-regular fa-face-smile fs-4 mx-3 ms_color"></i>
                    <input v-model="inputMessage" @keyup.enter="sendMsg" type="text" id="userInput" class="flex-grow-1 border-0" placeholder=" Scrivi un messaggio">
                    <i class="fa-solid fa-microphone fs-4 mx-3  ms_color"></i>
                </div>
            </section>

        </main>

      
        
    </div>





     <!-- script in js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script type="text/javascript" src="js/main.js"></script>
    
</body>
</html>

